<!-- v top.php -->
<!-- /init/index.php -->
<html>
  <head>
    <style>
      /* SCSS code */
    </style>
  </head>
  <body>
    <header class="main-header">
      <button class="menu-button" onclick="toggleSidebar()">=</button>
      <nav class="nav-action">
        <ul class="action-list">
          <li class="action-item">notif</li>
          <li class="action-item">friend</li>
          <li class="action-item">message</li>
          <li class="action-item">profile</li>
        </ul>
      </nav>
    </header>
    <section class="main-middle">
      <aside id="left-sidebar" class="left-sidebar">
        <header class="my-profile">
          <img
            src="/asset/profile-user.png"
            alt="my-profile"
            class="profile-img"
          />
          <span>
            <div class="profile-info">
              <span>
                <div class="name">Hi</div>
              </span>
              <span>
                <div class="status">Online</div>
              </span>
            </div>
          </span>
        </header>
        <nav class="nav-sidebar">
          <div class="nav-title">
            <span>
              <div>MAIN NAVIGATION</div>
            </span>
          </div>
          <ul class="nav-sidebar-list">
            <li class="list-item">
              <a href="/view/*.php" class="list-item-link">
                <img src="/asset/*.png" alt="*" class="sidebar-img" id="*" />
                <span>
                  <div>*</div>
                </span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
      <!-- ^ top.php -->
      <main>
        <div class="main-title"></div>
        <div class="*-container">
          <!-- Content -->
        </div>
      </main>
      <div id="overlay"></div>
      <div id="modal">
        <button class="close-btn"></button>
        <div class="title"></div>
        <div class="content">
          <div class="labels-inputs-table"></div>
          <button></button>
        </div>
      </div>
      <script></script>
      <!-- v bottom.php -->
    </section>
    <footer></footer>
    <!-- ^ bottom.php -->
  </body>
</html>
